<md-whiteframe class="md-whiteframe-z1" layout="column" style="width:500px;min-height:200px;display:block;margin:auto">
	<md-toolbar>
      <div class="md-toolbar-tools">
          <img alt="" src="images/atlantis.png" style="margin-right:20px">
        <h2><span>Atlantis</span></h2>
        <span flex=""></span>
        <md-button class="md-icon-button" aria-label="install" ng-click="install()">
          <img alt="go" src="images/ic_file_download_white_24px.svg">
        </md-button>
      </div>
    </md-toolbar>
    <div style="padding:20px" layout=column>
		<md-input-container flex>
	   		<label>Host address</label>
			<input ng-model="db.host">
		</md-input-container>
		<md-input-container flex>
	   		<label>Username</label>
			<input ng-model="db.username">
		</md-input-container>
		<md-input-container flex>
	   		<label>Password</label>
			<input ng-model="db.password">
		</md-input-container>
    </div> 
</md-whiteframe>
