<div class=left50>
	<div class="panel panel-info">
		<div class="panel-heading">Bienvenue !</div>
		<div class="panel-body" style="padding:25px">
			<table width='100%' style='margin-bottom:30px'>
				<tr>
					<td width='50%' style='text-align:center'><b>Aujourd'hui</b><br><img alt="" ng-src="{{day1}}"><br>{{meteo1}}</td>
					<td width='50%' style='text-align:center'><b>Demain</b><br><img alt="" ng-src="{{day2}}"><br>{{meteo2}}</td>
				</tr>
			</table>
			<label>Mode : {{getMode(atlantis.mode)}}</label>
		</div>
	</div>
	<div class="panel panel-info">
		<div class=panel-heading>
			<div layout=row>
				<span flex>Liste des courses</span>
				<md-icon md-svg-src="images/svg/ic_send_white_24px.svg" ng-click="notifyCourses()"></md-icon>			
			</div>
		</div>
		<div class="panel-body">
			<md-content>
				<div layout=row >
					<md-input-container flex>
						<label>Ajouter (Nom, Quantit&eacute;)</label>
						<input ng-model=item ng-enter="addCourse(item)">
					</md-input-container>
					<md-button class="md-fab md-primary md-mini" aria-label="FAB" ng-click="addCourse(item)">
					  	<md-icon md-svg-src="images/svg/ic_add_white_36px.svg"></md-icon>
					</md-button>
				</div>
			</md-content>
			<md-content>
				<div layout=row  layout-align="start center" ng-repeat="course in courses">
					<md-button class="md-fab md-mini" aria-label="qte">{{course.quantity}}</md-button>
					<label flex>{{course.name}}</label>
					<md-icon md-svg-src="images/svg/ic_add_black_36px.svg" ng-click="modifyCourse(course, '+')"></md-icon>
					<md-icon md-svg-src="images/svg/ic_remove_black_36px.svg" ng-click="modifyCourse(course, '-')"  ng-hide="course.quantity < 2"></md-icon>
					<md-icon md-svg-src="images/svg/ic_clear_black_36px.svg" ng-click="modifyCourse(course, '.')"></md-icon>
				</div>
			</md-content>
		</div>
	</div>
</div>
<div class="panel panel-info right50">
	<div class="panel-heading">
		<div layout=row>
			<span flex>Domicile</span>
			<md-icon md-svg-src="images/svg/ic_launch_white_36px.svg" ng-click="editHome()"></md-icon>
			<md-icon md-svg-src="images/svg/ic_home_white_36px.svg" ng-click="planHome()"></md-icon>
		</div>
	</div>
	<div class="panel-body">
		<img alt="plan" src="{{getPlan()}}" width='100%'>
	</div>
</div>