<div class="left50">
	<div class="panel panel-info">
		<div class="panel-heading">
			<div layout=row layout-align="start center">
				<span flex>Contr&ocirc;les</span>
				<md-menu>
   					<md-icon ng-click="$mdOpenMenu($event)" md-svg-icon="images/svg/ic_more_vert_white_24px.svg"></md-icon>
 					<md-menu-content>
   						<md-menu-item>
   							<md-button  ng-click="action('refresh')">
								<md-icon md-svg-src="images/svg/ic_refresh_black_24px.svg"></md-icon>	
   								Actualiser
 							</md-button>
  						</md-menu-item>
 					</md-menu-content>
				</md-menu>		
			</div>
		</div>
		<div class="panel-body">
			<table width="100%">
				<tr>
					<td width="33%" style="text-align: center"></td>
					<td width="33%" style="text-align: center"></td>
					<td width="33%" style="text-align: center"><md-switch ng-model="on" ng-change="toggleMusic()" aria-label="music" style="float:right"></md-switch></td>
				</tr>
				<tr>
					<td width="33%" style="text-align: center"><img src="images/music/ic_action_stop.png" ng-click="action('stop')"></td>
					<td width="33%" style="text-align: center"><img src="images/music/ic_action_pause.png" ng-click="action('pause')"></td>
					<td width="33%" style="text-align: center"><img src="images/music/ic_action_repeat.png" ng-click="action('repeat')"></td>
				</tr>
				<tr>
					<td width="33%" style="text-align: center"><img src="images/music/ic_action_previous.png" ng-click="action('previous')"></td>
					<td width="33%" style="text-align: center"><img src="images/music/ic_action_next.png" ng-click="action('next')"></td>
					<td width="33%" style="text-align: center"><img src="images/music/ic_action_shuffle.png" ng-click="action('shuffle')"></td>
				</tr>
			</table>
			<md-slider flex="" min="0" max="10" ng-model="volume" aria-label="red" class="" ng-change="changeVol(volume)"></md-slider>
		</div>
	</div>
	<div class="panel panel-warning" ng-if="false">
		<div class="panel-heading">Message Vocal</div>
		<div class="panel-body">
			<div class="form-horizontal">
				<div class="form-group">
		            <label for="inputName" class="col-lg-2 control-label">Message</label>
		            <div class="col-lg-10">
		                <input type="text" class="form-control" id="inputName" placeholder="Message" ng-model="message" ng-enter="speak()">
		            </div>
		        </div>
		        <button type="button" ng-click="speak()" class="btn btn-info" style="float:right">Diffuser</button>
	        </div>
		</div>
	</div>
</div>
<div class="panel panel-info right50">
	<div class="panel-heading">Musith&egrave;que</div>
	<div class="panel-body">
		<md-input-container>
			<md-select ng-model=type.id aria-label="filtre">
				<md-option ng-value=type.id ng-repeat="type in types track by type.id">{{type.title}}</md-option>
			</md-select>
		</md-input-container>
		<div class="nList" ng-repeat="playlist in playlists track by playlist.id" ng-if="type.id == 0 || type.id == 1">
			<img alt="" ng-src="{{songPic(playlist)}}" style="margin-right:15px" ng-click="editPlaylist(playlist)">
			<a href="" ng-click="play(playlist)" flex>{{playlist.title}}</a>
		</div>
		<div class="nList" ng-repeat="song in songs track by song.id" ng-if="type.id == 0 || type.id == 2">
			<img alt="" ng-src="{{songPic(song)}}" style="margin-right:15px" ng-click="editSong(song)">
			<a href="" ng-click="play(song)" flex>{{song.title}}</a>
		</div>
	</div>
</div>