<md-dialog style=padding:20px>
	<md-subheader>ownCloud</md-subheader>
	<md-content layout=column>
		<md-input-container>
    		<label>Chemin</label>
			<input ng-model="owncloud.path">
		</md-input-container>
		<md-input-container>
    		<label>Nom d'utilisateur</label>
			<input ng-model="owncloud.username">
		</md-input-container>
		<md-input-container>
    		<label>Mot de passe</label>
			<input ng-model="owncloud.password" type="password">
		</md-input-container>
	</md-content>
	<div class=md-actions>
		<md-button class=md-primary ng-click=close()>Fermer</md-button>
		<md-button ng-click=save() class="md-primary md-raised">Enregistrer</md-button>
	</div>
</md-dialog>