<md-dialog style=padding:20px>
	<h3>Pi&egrave;ces</h3>
	<md-content>
		<div layout=row  layout-align="start center" ng-repeat="room in rooms">
			<label flex>{{room.room}}</label>
			<md-icon md-svg-src="images/svg/ic_clear_black_36px.svg" ng-click="delRoom(room)"></md-icon>
		</div>
		<div layout=row style="padding-top:25px">
			<md-input-container flex>
				<label>Ajoutez une pi&egrave;ce...</label>
				<input ng-model=item ng-enter="addRoom(item)">
			</md-input-container>
			<md-button class="md-fab md-primary md-mini" aria-label="FAB" ng-click="addRoom(item)">
			  	<md-icon md-svg-src="images/svg/ic_add_white_36px.svg"></md-icon>
			</md-button>
		</div>
	</md-content>
	<div class=md-actions>
		<md-button ng-click=cancel()>Fermer</md-button>
	</div>
</md-dialog>