<style>
.container {
    height:90%;
}
</style>
<div class="alert alert-warning" role="alert" ng-if="scenario_description != null">
	{{scenario_description}}
</div>
<div class="panel panel-info">
	<div class=panel-heading>Contr&ocirc;les</div>
	<div class=panel-body>
		<md-select ng-model=scenario aria-label="scenarios" placeholder="Sc&eacute;nario" md-on-close="loadScenario(scenario)">
			<md-option ng-value=scenario ng-repeat="scenario in scenarios">{{scenario.file}}</md-option>
		</md-select>
		<md-input-container>
			<label>Nom du sc&eacute;nario</label>
			<input ng-model=newScenario ng-change="updateTitle()">
		</md-input-container>
		<div layout>
			<md-button class="md-raised" ng-click="new()" flex>Nouveau</md-button>		
			<md-button class="md-raised md-primary" ng-click="save()" flex>Enregistrer</md-button>		
			<md-button class="md-raised md-warn" ng-click="delete()" flex>Supprimer</md-button>		
		</div>
	</div>
</div>
<div layout=row layout-align="center center" ng-if="tools">
	<md-button class="md-raised" ng-click="loadToolbox('atlantis')">Capteurs</md-button>
	<md-button class="md-raised" ng-click="loadToolbox('logic')">Logique</md-button>
	<md-button class="md-raised" ng-click="loadToolbox('control')">Contr&ocirc;le</md-button>
</div>
<div id="blocklyArea" class="container" style=""></div>
<xml id="toolbox" style="display: none">
	<block type="at_light"></block>
	<block type="at_light_status"></block>
	<block type="at_switch"></block>
	<block type="at_music"></block>
	<block type="at_gcm"></block>
	<block type="at_alarm_status"></block>
	<block type="at_alarm"></block>
</xml>
<div id="blocklyDiv" style="position: absolute"></div>