<style>
.container {
    height:90%;
}
</style>
<div class="panel panel-info">
	<div class=panel-heading>Contr&ocirc;les</div>
	<div class=panel-body>
		<div layout>
			<md-input-container flex>
				<label>Nom du sc&eacute;nario</label>
				<input ng-model=scenario>
			</md-input-container>
			<md-button class="md-raised" ng-click="save()">Enregistrer</md-button>		
		</div>
	</div>
</div>
<div id="blocklyArea" class="container" style=""></div>
<xml id="toolbox" style="display: none">
	<category name="Control">
		<block type="controls_if"></block>
		<block type="controls_repeat_ext"></block>
		<block type="logic_compare"></block>
		<block type="math_number"></block>
		<block type="math_arithmetic"></block>
		<block type="text"></block>
		<block type="text_print"></block>
	</category>
	<category name="Logique">
      <block type="controls_if"></block>
      <block type="logic_compare"></block>
      <block type="logic_operation"></block>
      <block type="logic_negate"></block>
      <block type="logic_boolean"></block>
      <block type="logic_null"></block>
      <block type="logic_ternary"></block>
    </category>
	<sep></sep>
	<category name="Atlantis">
		<block type="at_switch"></block>
		<block type="at_gcm"></block>
	</category>
	<category name="Variables" custom="VARIABLE"></category>
	<category name="Functions" custom="PROCEDURE"></category>
</xml>
<div id="blocklyDiv" style="position: absolute"></div>