<div>
  <md-content class="md-padding">
  	<div layout=row layout-align="end center">
  		<md-button aria-label="export" class="md-raised md-primary" ng-click="exportSettings()"><md-icon md-svg-src="images/svg/ic_system_update_alt_white_36px.svg"></md-icon></md-button>
  	</div>
    <md-tabs md-dynamic-height md-border-bottom>
      <md-tab label="Etat Syst&egrave;me">
        <md-content class="md-padding" ng-controller="StatusSettingsCtrl">
        	<div class=left50>
        		<div class="panel panel-info">
        			<div class=panel-heading>Daemon</div>
        			<div class=panel-body>
        				<div layout=row layout-align="start center">
        					<md-button class="md-raised md-primary" ng-click="startDaemon()" flex>D&eacute;marrer</md-button>
        					<md-button class="md-raised md-warn" ng-click="stopDaemon()" flex>Arr&ecirc;ter</md-button>
        				</div>
        				<label style="margin-top:20px">Etat : {{daemon}}</label>
        			</div>
        		</div>
        		<div class="panel panel-info">
        			<div class="panel-heading">Mode</div>
        			<div class="panel-body">
        				<md-content layout=column>
        					<div layout=row layout-align="start center">
        						<p flex>Activer le mode nuit</p>
        						<md-switch ng-model="night.status" ng-change="toggleNightMode(night.status)" aria-label="night"></md-switch>
        					</div>
        					<div layout=row>
        						<md-input-container flex>
									<label>De</label>
									<input ng-model=night.from type="time">
								</md-input-container>
								<md-input-container flex>
									<label>&Agrave;</label>
									<input ng-model=night.to type="time">
								</md-input-container>
        					</div>
        					<div layout=row layout-align="end center">
       							<md-button class="md-icon-button" aria-label="FAB" ng-click="saveNightModeTime()">
								  <md-icon md-svg-src="images/svg/ic_check_black_36px.svg"></md-icon>
								</md-button>
       						</div>
        				</md-content>
        			</div>
        		</div>
        	</div>
        	<div class=right50>
        		<div class="panel panel-info">
        			<div class="panel-heading">Serveur</div>
        			<div class="panel-body">
        				<div layout=row layout-align="start center">
        					<label flex=50>Espace libre : {{free_hdd}}%</label>
        					<md-progress-circular md-mode="determinate" value="{{free_hdd}}" />
        				</div>
        			</div>
        		</div>
        		<div class="panel panel-info">
        			<div class="panel-heading">Call Notifier</div>
        			<div class="panel-body">
        				<md-content>
        					<md-switch ng-model="call.status" style="float:right" ng-change="toggleCall('status', call.status)" aria-label="call"></md-switch>
        					<div style="clear:both"></div>
        					<md-checkbox ng-model="call.light" aria-label="light" ng-change="toggleCall('light', call.light)">Signalisation avec la lumi&egrave;re</md-checkbox>
        					<md-checkbox ng-model="call.voice" aria-label="voice" ng-change="toggleCall('voice', call.voice)">Signalisation avec la voix</md-checkbox>
        					<md-checkbox ng-model="call.caller" aria-label="caller" ng-change="toggleCall('caller', call.caller)" ng-if=false>Lecture du nom de l'appelant</md-checkbox>
        					<md-checkbox ng-model="call.message" aria-label="message" ng-change="toggleCall('message', call.message)" ng-if=false>Lecture du contenu du message</md-checkbox>
        				</md-content>
        			</div>
        		</div>
        	</div>
        </md-content>
      </md-tab>
      <md-tab label="Param&egrave;tres Atlantis">
        <md-content class="md-padding" ng-controller="AtlantisSettingsCtrl">
        	<div class="left50">
        		<div class="panel panel-info">
        			<div class="panel-heading">G&eacute;n&eacute;ral</div>
        			<div class="panel-body">
        				<md-content layout=column>
        					<md-input-container>
        						<label>DNS URL</label>
        						<input ng-model=atlantis.Atlantis.url >
       						</md-input-container>
       						<div layout="row">
	       						<md-input-container flex>
	        						<label>D&eacute;partement</label>
	        						<input ng-model=atlantis.Atlantis.dep >
	       						</md-input-container>
	       						<md-input-container flex>
	        						<label>Ville</label>
	        						<input ng-model=atlantis.Atlantis.city >
	       						</md-input-container>
       						</div>
       						<div layout=row>
	       						<md-input-container flex>
	        						<label>Latitude</label>
	        						<input ng-model=atlantis.Atlantis.lat >
	       						</md-input-container>
	       						<md-input-container flex>
	        						<label>Longitude</label>
	        						<input ng-model=atlantis.Atlantis.long >
	       						</md-input-container>
	       						<md-input-container flex>
	        						<label>Rayon</label>
	        						<input ng-model=atlantis.Atlantis.radius >
	       						</md-input-container>       						
       						</div>
       						<div layout=row layout-align="end center">
       							<md-button class="md-icon-button" aria-label="FAB" ng-click="saveGeneral()">
								  <md-icon md-svg-src="images/svg/ic_check_black_36px.svg"></md-icon>
								</md-button>
       						</div>
        				</md-content>
        			</div>
        		</div>
        		<div class="panel panel-info">
        			<div class="panel-heading">Services Tiers</div>
        			<div class="panel-body">
        				<md-content layout=column>
        					<md-input-container>
        						<label>Cl&eacute; Google Cloud Messaging</label>
        						<input ng-model=atlantis.Notification.key >
       						</md-input-container>
        					<md-input-container>
        						<label>Cl&eacute; OpenWeatherMap</label>
        						<input ng-model=atlantis.Weather.appid >
       						</md-input-container>
       						<div layout=row layout-align="end center">
       							<md-button class="md-icon-button" aria-label="FAB" ng-click="saveNotification()">
								  <md-icon md-svg-src="images/svg/ic_check_black_36px.svg"></md-icon>
								</md-button>
       						</div>
        				</md-content>
        			</div>
        		</div>
        		<div class="panel panel-info">
        			<div class="panel-heading">Audio</div>
        			<div class="panel-body">
        				<md-content layout=column>
        					<md-input-container>
        						<label>Source Audio</label>
        						<input type="number" ng-model=atlantis.Audio.source >
       						</md-input-container>
        					<md-input-container>
        						<label>Intervalle pour la musique de bienvenue (en heures)</label>
        						<input type="number" ng-model=atlantis.Audio.welcome >
       						</md-input-container>
       						<div layout=row layout-align="end center">
       							<md-button class="md-icon-button" aria-label="FAB" ng-click="saveAudio()">
								  <md-icon md-svg-src="images/svg/ic_check_black_36px.svg"></md-icon>
								</md-button>
       						</div>
        				</md-content>
        			</div>
        		</div>
        	</div>
        	<div class="right50">
        		<div class="panel panel-info">
        			<div class="panel-heading">Capteurs</div>
        			<div class="panel-body">
        				<md-content>
        					<h4>Philips Hue</h4>
        					<div layout=row>
	        					<md-input-container flex>
	        						<label>Adresse IP</label>
	        						<input ng-model=atlantis.Hue.ip >
	        					</md-input-container>
	        					<md-input-container flex>
	        						<label>Utilisateur</label>
	        						<input ng-model=atlantis.Hue.user >
	        					</md-input-container>
        					</div>
        					<h4>Zwave</h4>
        					<div layout=row>
	        					<md-input-container flex>
	        						<label>Adresse IP</label>
	        						<input ng-model=atlantis.Zwave.IP >
	        					</md-input-container>
	        					<md-input-container flex>
	        						<label>Port</label>
	        						<input ng-model=atlantis.Zwave.Port >
	        					</md-input-container>
        					</div>
        					<div layout=row layout-align="end center">
       							<md-button class="md-icon-button" aria-label="FAB" ng-click="saveSensors()">
								  <md-icon md-svg-src="images/svg/ic_check_black_36px.svg"></md-icon>
								</md-button>
       						</div>
        				</md-content>
        			</div>
        		</div>
        		
        		<!-- Files Settings -->
        		<div class="panel panel-info">
        			<div class="panel-heading">Fichiers</div>
        			<div class="panel-body">
        				<md-content>
        					<div layout=row>
	        					<md-input-container flex>
	        						<label>Musique</label>
	        						<input ng-model=atlantis.Files.music >
	        					</md-input-container>
        					</div>
        					<div layout=row layout-align="end center">
       							<md-button class="md-icon-button" aria-label="FAB" ng-click="saveFiles()">
								  <md-icon md-svg-src="images/svg/ic_check_black_36px.svg"></md-icon>
								</md-button>
       						</div>
        				</md-content>
        			</div>
        		</div>
        		
        		<!-- Mail Settings -->
        		<div class="panel panel-info">
        			<div class="panel-heading">Mail</div>
        			<div class="panel-body">
        				<md-content>
        					<div layout=row>
        						<md-input-container flex>
	        						<label>Nom exp&eacute;diteur</label>
	        						<input ng-model=atlantis.SMTP.fromName >
	        					</md-input-container>
	        					<md-input-container flex>
	        						<label>Adresse mail exp&eacute;diteur</label>
	        						<input ng-model=atlantis.SMTP.fromMail >
	        					</md-input-container>
        					</div>
        					<div layout=row>
        						<md-input-container flex>
	        						<label>Serveur SMTP</label>
	        						<input ng-model=atlantis.SMTP.server >
	        					</md-input-container>
	        					<md-input-container flex>
	        						<label>Port SMTP</label>
	        						<input ng-model=atlantis.SMTP.port >
	        					</md-input-container>
        					</div>
        					<div layout=row>
        						<input type="radio" ng-model="atlantis.SMTP.security" value="no" flex>Aucune s&eacute;curit&eacute;</input>
        						<input type="radio" ng-model="atlantis.SMTP.security" value="tls" flex>TLS</input>
        						<input type="radio" ng-model="atlantis.SMTP.security" value="ssl" flex>SSL</input>
        					</div>
        					<input type="checkbox" ng-model="atlantis.SMTP.auth">Authentification</input>
        					<div layout=row ng-if="atlantis.SMTP.auth">
        						<md-input-container flex>
	        						<label>Nom d'utilisateur</label>
	        						<input ng-model=atlantis.SMTP.username >
	        					</md-input-container>
	        					<md-input-container flex>
	        						<label>Mot de passe</label>
	        						<input ng-model=atlantis.SMTP.password >
	        					</md-input-container>
        					</div>
        					<div layout=row layout-align="end center">
       							<md-button class="md-icon-button" aria-label="FAB" ng-click="saveMail()">
								  <md-icon md-svg-src="images/svg/ic_check_black_36px.svg"></md-icon>
								</md-button>
       						</div>
        				</md-content>
        			</div>
        		</div>
        	</div>
        </md-content>
      </md-tab>
      <md-tab label="S&eacute;curit&eacute;">
      	<md-content class="md-padding" ng-controller="SecuritySettingsCtrl">
      		<div class=left50>
      			<div class="panel panel-danger">
	       			<div class=panel-heading>Alarme</div>
	       			<div class=panel-body>
	       				<md-content>
	       					<md-checkbox ng-model="test" aria-label="light" ng-change="test">Prendre des photos en cas de mouvement</md-checkbox>
	       				</md-content>
	       			</div>
	       		</div>
      		</div>
       		<div class=right50>
       			<div class="panel panel-info">
	       			<div class=panel-heading>Autres</div>
	       			<div class=panel-body layout=column>
	       				<md-content>
	       					<md-checkbox ng-model="test" aria-label="light" ng-change="test">Alerter en cas de temp&eacute;rature anormale</md-checkbox>
	       					<div layout=row>
	       						<md-input-container flex>
	        						<label>Seuil haut</label>
	        						<input ng-model="" >
	        					</md-input-container>
	        					<md-input-container flex>
	        						<label>Seuil bas</label>
	        						<input ng-model="" >
	        					</md-input-container>
	       					</div>
	       					<md-checkbox ng-model="test" aria-label="light" ng-change="test">Eteindre les appareils &eacute;lectriques en cas d'orage</md-checkbox>
	       				</md-content>
	       			</div>
	       		</div>
       		</div>
      	</md-content>
      </md-tab>
      <md-tab label="Utilisateurs">
        <md-content class="md-padding" ng-controller='UsersSettingsCtrl'>
        	<div layout=row layout-padding>
				<md-input-container flex>
					<label>Rechercher</label>
					<input ng-model=item ng-enter="" flex ng-change="filter(item)">
				</md-input-container>
				<md-button class="md-fab md-primary md-mini" aria-label="FAB" ng-click="addUser()">
				  	<md-icon md-svg-src="images/svg/ic_add_white_36px.svg"></md-icon>
				</md-button>
			</div>
        	<div class="panel panel-info">
        		<div class="panel-heading">Utilisateurs</div>
        		<div class="panel-body">
        			<div layout=row layout-align="center center" ng-repeat="user in users track by user.id">
        				<label flex>{{user.nom}}</label>
        				<div flex layout=row><p>{{user.cle}}</p></div>
        				<md-icon md-svg-src="images/svg/ic_cached_black_36px.svg" ng-click="changeAPI(user)"></md-icon>
						<md-icon md-svg-src="images/svg/ic_edit_black_36px.svg" ng-click="editUser(user)"></md-icon>
						<md-icon md-svg-src="images/svg/ic_clear_black_36px.svg" ng-click="delUser(user)"></md-icon>
        			</div>
        		</div>
        	</div>
        </md-content>
      </md-tab>
       <md-tab label="S&eacute;curit&eacute;" ng-if=false>
        <md-content class="md-padding" ng-controller='SecuritySettingsCtrl'>
        	<div class=left50>
	        	<div class="panel panel-info">
	        		<div class=panel-heading>Temp&eacute;rature</div>
	        		<div class=panel-body>
	        			<md-checkbox ng-model="temp.fire" aria-label="fire">D&eacute;tection du feu</md-checkbox>
	        			<div layout>
					      <div flex="35" layout layout-align="start center">
					        <span class="md-body-1">Seuil de d&eacute;tection</span>
					      </div>
					      <md-slider flex md-discrete ng-model="temp.high" step="1" min="20" max="80" aria-label="fire"></md-slider>
					    </div>
					    <md-checkbox ng-model="temp.cold" aria-label="cold">D&eacute;tection du froid</md-checkbox>
	        			<div layout>
					      <div flex="35" layout layout-align="start center">
					        <span class="md-body-1">Seuil de d&eacute;tection</span>
					      </div>
					      <md-slider flex md-discrete ng-model="temp.low" step="1" min="0" max="20" aria-label="fire"></md-slider>
					    </div>
	        		</div>
	        	</div>
	        	<div class="panel panel-info">
	        		<div class=panel-heading>Humidit&eacute;</div>
	        		<div class=panel-body>
	        		
	        		</div>
	        	</div>        	
        	</div>
        	<div class=right50>
	        	<div class="panel panel-info">
	        		<div class=panel-heading>Electricit&eacute;</div>
	        		<div class=panel-body>
	        		
	        		</div>
	        	</div>
	        	<div class="panel panel-warning">
	        		<div class=panel-heading>Autres</div>
	        		<div class=panel-body>
	        		</div>
	        	</div>        	
        	</div>
        </md-content>
      </md-tab>
    </md-tabs>
  </md-content>
</div>