<div>
  <md-content class="md-padding">
    <md-tabs md-dynamic-height md-border-bottom>
      <md-tab label="Etat Syst&egrave;me">
        <md-content class="md-padding" ng-controller="StatusSettingsCtrl">
        	<div class=left50>
        		<div class="panel panel-info">
        			<div class=panel-heading>Daemon</div>
        			<div class=panel-body>
        				<div layout=row layout-align="start center">
        					<md-button class="md-raised md-primary" ng-click="startDaemon()" flex>D&eacute;marrer</md-button>
        					<md-button class="md-raised md-warn" ng-click="stopDaemon()" flex>Arr&ecirc;ter</md-button>
        				</div>
        				<label style="margin-top:20px">Etat : {{daemon}}</label>
        			</div>
        		</div>
        	</div>
        	<div class=right50>
        		<div class="panel panel-info">
        			<div class="panel-heading">Serveur</div>
        			<div class="panel-body">
        				<div layout=row layout-align="start center">
        					<label flex=50>Espace libre : {{free_hdd}}%</label>
        					<md-progress-circular md-mode="determinate" value="{{free_hdd}}" />
        				</div>
        			</div>
        		</div>
        	</div>
        </md-content>
      </md-tab>
      <md-tab label="Param&egrave;tres Atlantis">
        <md-content class="md-padding" ng-controller="AtlantisSettingsCtrl">
        	<div class="left50">
        		<div class="panel panel-info">
        			<div class="panel-heading">G&eacute;n&eacute;ral</div>
        			<div class="panel-body">
        				<md-content>
        					<md-input-container>
        						<label>DNS URL</label>
        						<input ng-model=atlantis.Atlantis.url >
       						</md-input-container>
       						<div layout="row">
	       						<md-input-container flex>
	        						<label>D&eacute;partement</label>
	        						<input ng-model=atlantis.Atlantis.dep >
	       						</md-input-container>
	       						<md-input-container flex>
	        						<label>Ville</label>
	        						<input ng-model=atlantis.Atlantis.city >
	       						</md-input-container>
       						</div>
       						<div layout=row>
	       						<md-input-container flex>
	        						<label>Latitude</label>
	        						<input ng-model=atlantis.Atlantis.lat >
	       						</md-input-container>
	       						<md-input-container flex>
	        						<label>Longitude</label>
	        						<input ng-model=atlantis.Atlantis.long >
	       						</md-input-container>
	       						<md-input-container flex>
	        						<label>Rayon</label>
	        						<input ng-model=atlantis.Atlantis.radius >
	       						</md-input-container>       						
       						</div>
       						<div layout=row layout-align="end center">
       							<md-button class="md-icon-button" aria-label="FAB" ng-click="saveGeneral()">
								  <md-icon md-svg-src="images/svg/ic_check_black_36px.svg"></md-icon>
								</md-button>
       						</div>
        				</md-content>
        			</div>
        		</div>
        		<div class="panel panel-info">
        			<div class="panel-heading">Services Tiers</div>
        			<div class="panel-body">
        				<md-content>
        					<md-input-container>
        						<label>Cl&eacute; Google Cloud Messaging</label>
        						<input ng-model=atlantis.Notification.key >
       						</md-input-container>
        					<md-input-container>
        						<label>Cl&eacute; OpenWeatherMap</label>
        						<input ng-model=atlantis.Weather.appid >
       						</md-input-container>
       						<div layout=row layout-align="end center">
       							<md-button class="md-icon-button" aria-label="FAB" ng-click="saveNotification()">
								  <md-icon md-svg-src="images/svg/ic_check_black_36px.svg"></md-icon>
								</md-button>
       						</div>
        				</md-content>
        			</div>
        		</div>
        	</div>
        	<div class="right50">
        		<div class="panel panel-info">
        			<div class="panel-heading">Capteurs</div>
        			<div class="panel-body">
        				<md-content>
        					<h4>Philips Hue</h4>
        					<div layout=row>
	        					<md-input-container flex>
	        						<label>Adresse IP</label>
	        						<input ng-model=atlantis.Hue.ip >
	        					</md-input-container>
	        					<md-input-container flex>
	        						<label>Utilisateur</label>
	        						<input ng-model=atlantis.Hue.user >
	        					</md-input-container>
        					</div>
        					<h4>Zwave</h4>
        					<div layout=row>
	        					<md-input-container flex>
	        						<label>Adresse IP</label>
	        						<input ng-model=atlantis.Zwave.IP >
	        					</md-input-container>
	        					<md-input-container flex>
	        						<label>Port</label>
	        						<input ng-model=atlantis.Zwave.Port >
	        					</md-input-container>
        					</div>
        					<div layout=row layout-align="end center">
       							<md-button class="md-icon-button" aria-label="FAB" ng-click="saveSensors()">
								  <md-icon md-svg-src="images/svg/ic_check_black_36px.svg"></md-icon>
								</md-button>
       						</div>
        				</md-content>
        			</div>
        		</div>
        		
        		<!-- Files Settings -->
        		<div class="panel panel-info">
        			<div class="panel-heading">Fichiers</div>
        			<div class="panel-body">
        				<md-content>
        					<div layout=row>
	        					<md-input-container flex>
	        						<label>Musique</label>
	        						<input ng-model=atlantis.Files.music >
	        					</md-input-container>
        					</div>
        					<div layout=row layout-align="end center">
       							<md-button class="md-icon-button" aria-label="FAB" ng-click="saveFiles()">
								  <md-icon md-svg-src="images/svg/ic_check_black_36px.svg"></md-icon>
								</md-button>
       						</div>
        				</md-content>
        			</div>
        		</div>
        	</div>
        </md-content>
      </md-tab>
      <md-tab label="Utilisateurs">
        <md-content class="md-padding" ng-controller='UsersSettingsCtrl'>
        	<div class="panel panel-info right30">
        		<div class="panel-heading">Contr&ocirc;les</div>
        		<div class="panel-body">
        			<button class='btn btn-block btn-primary' ng-click='addUser()'><img alt="add" src='images/ic_action_new.png'></button>
        		</div>
        	</div>
        	<div class="panel panel-info left70">
        		<div class="panel-heading">Utilisateurs</div>
        		<div class="panel-body">
        			<div layout=row layout-align="center center" ng-repeat="user in users"  layout-padding>
        				<label flex>{{user.nom}}</label>
        				<div flex layout=row><p>{{user.cle}}</p><md-icon md-svg-src="images/svg/ic_cached_black_36px.svg" ng-click="changeAPI(user)"></md-icon></div>
						<md-icon md-svg-src="images/svg/ic_edit_black_36px.svg" ng-click="editUser(user)"></md-icon>
						<md-icon md-svg-src="images/svg/ic_clear_black_36px.svg" ng-click="delUser(user)"></md-icon>
        			</div>
        		</div>
        	</div>
        </md-content>
      </md-tab>
       <md-tab label="S&eacute;curit&eacute;" ng-if=false>
        <md-content class="md-padding" ng-controller='SecuritySettingsCtrl'>
        	<div class=left50>
	        	<div class="panel panel-info">
	        		<div class=panel-heading>Temp&eacute;rature</div>
	        		<div class=panel-body>
	        			<md-checkbox ng-model="temp.fire" aria-label="fire">D&eacute;tection du feu</md-checkbox>
	        			<div layout>
					      <div flex="35" layout layout-align="start center">
					        <span class="md-body-1">Seuil de d&eacute;tection</span>
					      </div>
					      <md-slider flex md-discrete ng-model="temp.high" step="1" min="20" max="80" aria-label="fire"></md-slider>
					    </div>
					    <md-checkbox ng-model="temp.cold" aria-label="cold">D&eacute;tection du froid</md-checkbox>
	        			<div layout>
					      <div flex="35" layout layout-align="start center">
					        <span class="md-body-1">Seuil de d&eacute;tection</span>
					      </div>
					      <md-slider flex md-discrete ng-model="temp.low" step="1" min="0" max="20" aria-label="fire"></md-slider>
					    </div>
	        		</div>
	        	</div>
	        	<div class="panel panel-info">
	        		<div class=panel-heading>Humidit&eacute;</div>
	        		<div class=panel-body>
	        		
	        		</div>
	        	</div>        	
        	</div>
        	<div class=right50>
	        	<div class="panel panel-info">
	        		<div class=panel-heading>Electricit&eacute;</div>
	        		<div class=panel-body>
	        		
	        		</div>
	        	</div>
	        	<div class="panel panel-warning">
	        		<div class=panel-heading>Autres</div>
	        		<div class=panel-body>
	        		</div>
	        	</div>        	
        	</div>
        </md-content>
      </md-tab>
    </md-tabs>
  </md-content>
</div>